<a href="https://colab.research.google.com/github/Poornima-231999/demo/blob/main/Copy_of_Day_2_Python_CX_139_EVE_JUN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Types in Python
![datatypes.jpeg]()

# Conditional Statements in Python

# 1. 'if' Statement

In [ ]:
# check if age is greater than or equal to 18

# 'if-else' Conditional Statement

In [ ]:
 # compare between two numbers

#'if-elif-else'

In [ ]:
# Assign grades based on scores >80 A grade, 60 and < 80

# Nested 'if-else'

In [ ]:
# Check whether number is positive/negative and even/odd

# Loops in Python
Loops enable you to perform repetitive tasks efficiently without writing redundant code. They iterate over a sequence (like a list, tuple, string, or range) or execute a block of code as long as a specific condition is met.
Types of Loops in Python
1. While loop
2. For loop
3. Nested loop

# While Loop :
 The while loop repeatedly executes a block of code as long as a given condition remains True. It checks the condition before each iteration.<br>
Syntax: <br>
 initial value<br>
 while condition:<br>
             &nbsp;  &nbsp;  &nbsp; &nbsp;   Code block to execute Example:

In [ ]:
# Print numbers from 1 to 10 start=1 end 10

In [ ]:
# print 10 to 1 initial value=10 1

In [ ]:
# Write a program to print even numbers in range 1 to 50 while and if

# For Loop
The for loop in Python is used to iterate over a sequence (such as a list, tuple, dictionary, set, or string) and execute a block of code for each element in that sequence. <br>
Syntax: <br>
for variable in sequence:<br>
      &nbsp; &nbsp; &nbsp; &nbsp; Code block to execute

In [ ]:
# print numbers in range 1 to 10

In [ ]:
# print numbers in range 1 to 10

In [ ]:
# print alternate number in range 4 to including 16 # 4,6,8

In [ ]:
# string, list,tuple

# Loop Control Statements
• pass statement <br>
• break Statement <br>
• continue Statement <br>


# pass statement

When x > 5, the pass statement is executed, meaning nothing happens.<br>
If x <= 5, the else block runs, printing "x is 5 or less".<br>
pass allows the code to compile and run without errors, even though the if block is currently empty.

# break statement

# continue statement

# List in Python
• What is List <br>
:A list in Python is a collection of items (elements) that are ordered, changeable
(mutable), and allow duplicate elements.
Lists are one of the most versatile data structures in Python and are used to store
multiple items in a single variable.<br>

• Create Lists <br>
• Access List: Indexing & Slicing <br>
• Modify List <br>
• List Methods <br>
• Join Lists <br>
• List Comprehensions <br>

In [ ]:
# variable_name= [1,2,3,4,"Pune",52.23],

,# List Creation

In [ ]:
# Empty List
list1=list()
print(list1)
int_list = [1, 2, 3, 4, 5]
print(int_list)
float_list = [1.1, 2.5, 3.14, 4.0, 5.9]
print(float_list)
string_list = ["apple", "banana", "cherry", "date"]
print(string_list)
mixed_list = [1, "hello", 3.5, True]
print(mixed_list)

In [ ]:
# Ordered Datatype
# positional value index value

# Accessing List Elements

In [ ]:

fruits = ["apple", "orange", "cherry", "apple", "mango"]
 # Access first element

# Access third element

# using negative indexing


# Access last element using negative index


# access 'orange' using negative index

# List Slicing:

In [ ]:

"""
list_name[start:stop:step]
list_name[start:stop] [:3] n-1
"""
numbers = [10, 20, 30, 40, 50, 60]
# Slice from index 1 to 3 20,30,40


# Output: [20, 30, 40]
# Slice from start to index 2 # 10,20,30


# Slice all alternate elements


# Slice with negative indices


# Reverse list

# Modifying List

In [ ]:
fruits = ["apple", "banana", "cherry"] # mutable(changeable)
# Changing an element add blueberry at 1st index

# Output: ['apple', 'blueberry', 'cherry']
# Adding an element using append function add mango to the fruits list
# append(): adding element to the end of list


# Output: ['apple', 'blueberry', 'cherry’, 'mango']
print(fruits)
# Removing an element
# pop removes last element

print(fruits)
# Output: ['apple', 'blueberry', 'mango']

In [ ]:
# count,reverse and sort functions
fruits = ["apple", "orange", "cherry", "apple", "mango"]
fruits.count('orange')
print(fruits.sort())

fruits
# reverse
fruits.reverse()
fruits

# List Methods <br>

In [ ]:
"""
Method	       Description                                         	Example
append(x)	    Adds item x to the end of the list	                   list.append(10)
insert(i, x) 	Inserts item x at position i	                         list.insert(1, 20)
remove(x)    	Removes the first occurrence of x	                     list.remove(3)
pop([i])    	Removes and returns item at index i,
              or last item if i not given	                           list.pop() or list.pop(2)
clear()	       Removes all items from the list	                     list.clear()
index(x)	     Returns the index of the first occurrence of x	       list.index(5)
count(x)	    Returns number of times x appears in the list	         list.count(2)
sort()	      Sorts the list in ascending order (modifies in place)	 list.sort()
sort(reverse=True)	Sorts the list in descending order	             list.sort(reverse=True)
sorted(list)	  Returns a new sorted list                            sorted(list)
reverse()	     Reverses the list in-place	                           list.reverse()

"""

# Join Lists

In [ ]:
list1 = [1, 2] # int
list2 = ["a", "b"] # string
# Using the + operator concatenate

 # using append method


# Output: [1, 2, 'a', 'b', ”Hello”]
# using extend method


# add elements from one list to another list

In [ ]:
# create a list consisting of numbers between range 1 to 10

In [ ]:
# create a list consisting of even 1 to 10

List Iterations

In [ ]:
# iteration using for

 # List Comprehensions  <br>

 Syntax: <br>
new_list = [expression for item in iterable if condition]

In [ ]:
# Creating a list of squares:


# list of 1 to 10


# Filtering even numbers:


 # Applying a function to each element:

# convert every element in upper case

# Tuple in Python
A tuple is a collection of items in Python that is ordered, unchangeable (immutable) and allow duplicate values.

Create Tuple in Python

In [ ]:
# 1.	Using Parentheses ()
colors = ("red", "green", "blue")
print("colors=",colors)
numbers = (1, 2, 3, 4, 5)
print("numbers=",numbers)
mixed = (1, "hello", 3.14, True)
print("mixed list items=",mixed)
nested = (1, [2, 3], (4, 5, 6))
print("nested list =",nested)
# 2.	Without Parentheses (Comma-Separated) also_
numbers = 1, 2, 3, 4, 5
print(numbers)
# 3.	 Using the tuple() Constructor
new_tuple = tuple(("apple", "banana", "cherry"))
print(new_tuple)
 # use double brackets
list_items = ["x", "y", "z"]
# Creating a tuple from a list
tuple_items = tuple(list_items) # convert list to tuple
print(tuple_items)
# ('x', 'y', 'z’)
# 4.	Single-Item Tuple tuple

In [ ]:
# create tuple consisting of single element

# Accessing Tuple Elements

In [ ]:
fruits = ("apple", "orange", "cherry", "apple", "mango")
# Access first element

# Access third element


# Access last element using negative index

# Tuple Slicing

Syntax: <br>
tuple_name[start:stop:step]

In [ ]:
numbers = (10, 20, 30, 40, 50, 60)
# 60=-1,50,-2,
# Slice from index 1 to 3



# Slice from start to index 2


# Slice all alternate


# Slice with negative indices


# Reverse list

# Tuple Operations

In [ ]:
# 1.	Concatenation
# You can join two or more tuples using the + operator.

tuple1 = (1, 2, 3)
tuple2 = (4, 5)

In [ ]:
a=5

In [ ]:
# 2.	Repetition
# You can repeat a tuple multiple times using the * operator.

In [ ]:
# in operator is membership operator

In [ ]:
# 3.	Checking for an Item
# Use the in keyword to check if an item exists in a tuple.
print(tuple1)

# Iterating Over Tuple

In [ ]:
fruits = ("apple", "mango", "cherry")
# Using for loop



# Using while loop



# Tuple Methods
# 1. count(x): Returns the number of times x appears in the tuple.
tuple1.count(2)

#2. index(x): Returns the first index of the value x. Raises an error if not found.

fruits.index('cherry')

# Tuple Functions

In [ ]:
"""
# Functions of tuple
function	          Description	                              Example
len()	         Returns the number of elements in the tuple	  len((1, 2, 3)) → 3
max()          Returns the maximum value	                    max((3, 6, 1)) → 6
min()	         Returns the minimum value                     	min((3, 6, 1)) → 1
sum()	        Returns the sum of elements	                   sum((3, 6, 1)) → 10
sorted()	    Returns a sorted list from the tuple
                                                   sorted((3, 1, 2)) → [1, 2, 3]
any()	         Returns True if any element is True	       any((0, 0, 1)) → True
all()	    Returns True if all elements are True	           all((1, 2, 3)) → True
tuple()  	Converts iterable to a tuple	            tuple([1, 2, 3]) → (1, 2, 3)
"""

In [ ]:
print(len((1, 2, 3))) # 3
print(max((3, 6, 1))) # 6
print(min((3, 6, 1))) # 1
print(sum((3, 6, 1))) # 10
print(sorted((3, 1, 2))) # 1,2,3
print(any((0, 0, 1))) # True
print(all((1, 2, 3))) # True
print(tuple([1, 2, 3])) # converting list to tuple

In [ ]:
True and True

# Set in Python
Python A set is a collection of unique items in Python. Sets do not allow duplicate items and do not maintain any particular order so it can’t be indexed. <br>

Characteristics of Sets: <br>
• Unordered: Elements have no defined order. You cannot access elements by index.<br>
 • Unique Elements: No duplicates allowed. Each element must be distinct. <br>
• Mutable: You can add or remove elements after creation. <br>
• Immutable Elements: individual elements inside a set cannot be modified/replaced <br>

Create Set in Python

In [ ]:
# 1.	Using Curly Braces {}
my_set = {1, 2, 3, 4, 5,6,2,3} # integer set # unique
print(my_set)
# Output: {1, 2, 3, 4, 5}
# 2.	Using the set() Constructor
my_set = set([1, 2, 3, 4, 5])
print(my_set)
# Output: {1, 2, 3, 4, 5}
# Creating an empty set
empty_set = set()
print(empty_set)
# Output: set()

In [ ]:
my_set

Set Operations

In [ ]:
# 1.	Adding Elements : Use the add() method to add a single element to a set.
fruits = {'apple', 'banana'}

# Output: {'apple', 'banana', 'cherry’}
# 2.	Removing Elements: Use the remove() or discard() methods to remove elements.
# • remove() raises an error if the element is not found.
# • discard() does not raise an error if the element is missing.



# Using discard()

# Set Methods

1.	Union: Combines elements from two sets, removing duplicates.<br>

In [ ]:
# Union
set_a = {1, 2, 3}
set_b = {3, 4, 5}

In [ ]:
# 2.	Intersection: Includes only elements present in both sets.  <br>
set_a = {1, 2, 3}
set_b = {2, 3, 4}

In [ ]:

# 3.	Difference: Elements present in the first set but not in the second.
# what is different in set a from set b
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5}

In [ ]:
# 4.	Symmetric Difference: Elements in either set, but not in both.
set_a = {1, 2, 3}
set_b = {3, 4, 5}

# Dictionaries <br>
Data is stored in key and value pair

In [ ]:
# creating empty dictionary

d1=dict()
type(d1)

keys()

In [ ]:
for i in my_dictionary.keys():
  print(i)

values()

In [ ]:
# access
for i in my_dictionary.values():
  print(i)

items()

In [ ]:
for i in my_dictionary.items():
  print(i)

In [ ]:
# access single element
my_dictionary['empid']
my_dictionary['Salary']

In [ ]:
# add new pair
my_dictionary['department']='HR'
my_dictionary

In [ ]:
# remove element from dictionary
my_dictionary.pop(411001)

In [ ]:
my_dictionary

In [ ]:
# dictionary consisting student records

student={
    'rollnumber':[i for i in range(5)],
    'names':['Alice','Bob','Clara','David','John'],
    'location':['X','Y','P','Q','R']
}
student

In [ ]:
import pandas as pd
pd.DataFrame(student)